<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website">
    <meta name="title" property="og:title" content="SillyStories" />
    <meta
      name="image"
      property="og:image"
      content="images/silly_stories_title.png"
    />
    <meta
      name="description"
      property="og:description"
      content="A collaborative story writing"
    />

    <title>Silly Stories</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/favicon.ico" />
  </head>

  <body></body>
</html>
