<%- include("partials/_header") %>

<div class="main">
  <div class="label-title">
    <h4>Yet another complete story</h4>
  </div>
  <br>

  <div class="label-title">
    <a href="./stories">
      <img class="title-img title-full" src="images/silly_archive.png" alt="Silly Archive">
    </a>
  </div>
  <br>

  <div class="label-title">
    <h4>Write the first sentence of the story</h4>
  </div>

  <form id="form" action="/" method="POST">
    <div class="label-title">
      <h4>YOUR FIRST SENTENCE:</h4>
    </div>
    <textarea class="new-sentence" name="message"></textarea>
    <br />
    <div>
      <input id="checkbox" class="checkbox-custom" name="checkbox" type="checkbox">
      <label for="checkbox" class="checkbox-custom-label">
        Want to receive the full story when it's written?
      </label>
    </div>
    <br />
    <div class="email-placeholder">
      <div id="email-input" hidden>
        <label for="email">Your email:</label>
        <input type="email" name="email" id="email" />
        <p>(We promise only to send you the story and nothing else.)</p>
      </div>
    </div>

    <br>
    <input type="image" src="/images/send_button.png" class="img-submit" alt="Image Submit, Send silliness" />
  </form>
</div>
<script>
  $("#checkbox").change(function () {
    $("#email-input").toggle("slow", "linear", function () { });
    //$("#fName").toggle("slow", function () {});
  });
</script>
</body>

</html>