<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Completed Stories</title>

    <link
      href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="images/favicon.ico" />
  </head>

  <body>
    <div class="main">
      <a href="/">
        <h4>Write a sentence</h4>
      </a>
      <% stories.forEach((story) => { %>

      <div class="label-title">
        <h4>Story #<%=story.id %></h4>
      </div>
      <div class="stories-text">
        <% story.parts.forEach((part) =>{ %> 
          <% if ((part.id) %2 === 0){ %>
          <p class="even-s"><%= part.text %></p>
          <% } else { %>
          <p class="odd-s"><%= part.text %></p>
          <% } %> 
        <% }) %>
      </div>
      <img class="draw-line" src="images/Line.png " alt="separating line" />
      
      <% }) %>
    </div>
  </body>
</html>
